<h2>Terms of Service</h2>

<p>
	Please don't upload anything that'd get me in trouble.
</p>

<p>
	No really, those are pretty much the terms of service. While I am not against 'piracy' (or rather, sharing)
	from an ideological point of view, my time and energy are limited and I need to pick my battles. I don't
	have the time or money to keep up a PDF host that is heavy on 'pirated materials', and there are plenty
	of other places to upload such things - places with owners who <em>do</em> have that time and money.
</p>

<p>
	In short; please don't upload 'pirated' e-books and such.
</p>
