<h2>Terms of Service</h2>

<p>
	Please don't upload anything that'd get me in trouble.
</p>

<p>
	No really, those are pretty much the terms of service. While I am not against 'piracy' (or rather, sharing)
	from an ideological point of view, my time and energy are limited and I need to pick my battles. I don't
	have the time or money to keep up a PDF host that is heavy on 'pirated materials', and there are plenty
	of other places to upload such things - places with owners who <em>do</em> have that time and money.
</p>

<p>
	In short; please don't upload 'pirated' e-books and such.
</p>

<h2>Privacy Policy</h2>

<p>
	Simple. I promise not to publish any of your data (IPs, documents, whatever) unless you set it as public. In
	return, you should not trust me or anybody making such promises, and use a venue that is appropriate to
	the level of privacy that you require.
</p>

<p>
	If you need top secret document sharing, then PDFy is not for you. Even if you make it unlisted, it is theoretically
	possible to brute-force the URL, and you'd have to trust me not to look at your stuff. A better option would
	be to use a more secure file transfer mechanism or platform - one that is client-to-client encrypted.
</p>

<p>
	If you are concerned about IP leakage, use a proxy of some sort. I don't generally block proxies or TOR exits.
</p>
