<!doctype html>
<html itemscope itemtype="http://schema.org/CreativeWork">
	<head>
		<title>View {%?filename} - PDFy - Instant PDF Host</title>
		<link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/pure-min.css">
		<link rel="stylesheet" href="/static/css/style.css?2">
		<meta itemprop="name" content="{%?filename}">
		<meta itemprop="image" content="http://pdf.yt/static/thumbs/{%?slug}.png">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{%?filename}">
		<meta name="twitter:description" content="Read and download {%?filename} for free!"> <!-- Sorry! Twitter wants us to have a description text. -->
		<meta name="twitter:image:src" content="http://pdf.yt/static/thumbs/{%?slug}.png">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{%?filename}">
		<meta property="og:url" content="http://pdf.yt/d/{%?slug}">
		<meta property="og:site_name" content="PDFy">
		<meta property="og:image" content="http://pdf.yt/static/thumbs/{%?slug}.png">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/static/js/script.js"></script>
		<script>
			var embed_template = '<iframe src="//pdf.yt/d/{%?slug}/embed?sparse={SPARSE}" style="width: 100%; height: 700px; border: 0px;" allowfullscreen></iframe>';
		</script>
		{%if private == true}
			<meta name="robots" content="noindex">
		{%/if}
	</head>
	<body class="full-screen">
		<div class="announce">
			<span class="alt-large">
				Help fund <span class="hide-small">the continued development and operation of </span>PDFy.
				<strong><a target="_blank" href="https://www.indiegogo.com/command_center/the-year-long-open-source-sabbatical">
					Contribute to the Open-Source Sabbatical fundraiser today!
				</a></strong>
			</span>
			<span class="alt-small">
				<strong><a target="_blank" href="https://www.indiegogo.com/command_center/the-year-long-open-source-sabbatical">
					Contribute to PDFy today!
				</a></strong>
			</span>
		</div>
		<div class="header">
			<div class="wrapper">
				<h1><a href="/">PDFy</a></h1>
				<a href="/" class="pure-button button-upload">Upload a PDF</a>
				<div class="abuse">
					Report abuse? <a href="mailto:abuse@cryto.net">abuse@cryto.net</a>
				</div>
			</div>
		</div>
		<div class="viewer-contents">
			<div class="viewer-wrapper">
				<iframe src="/d/{%?slug}/embed/?sparse=1&footer=0" class="viewer" allowfullscreen></iframe>
			</div>
			<div class="bottombar">
				<div class="header-wrapper">
					<h2>{%?filename}</h2>
				</div>
				<div class="tools">
					<div class="views">
						{%?views} views
					</div>
					
					<div class="download">
						Download as: <a href="/d/{%?slug}/download" class="pure-button inline">PDF</a>
					</div>
					
					<div class="embed">
						Embed: <input class="autoselect embed_code" value='<iframe src="//pdf.yt/d/{%?slug}/embed" style="width: 100%; height: 700px; border: 0px;" allowfullscreen></iframe>'>
					</div>
				</div>
			</div>
			<div class="sidebar">
				<h2>{%?filename}</h2>
				
				<p>{%?views} views</p>
				
				<h3>Download this document</h3>
				
				<p>
					Free, no registration necessary!
				</p>
				
				<p>
					Format: <a href="/d/{%?slug}/download" class="pure-button inline">PDF</a>
				</p>
				
				<h3>Embed this document</h3>
				
				<div class="toolbar-settings">
					<input type="radio" id="toolbar_yes" name="sparse" value="0" checked><label for="toolbar_yes">Show toolbar</label>
					<input type="radio" id="toolbar_no" name="sparse" value="1"><label for="toolbar_no">Hide toolbar</label>
				</div>
				
				<textarea class="autoselect embed_code">&lt;iframe src="//pdf.yt/d/{%?slug}/embed" style="width: 100%; height: 700px; border: 0px;" allowfullscreen&gt;&lt;/iframe&gt;</textarea>
			</div>
		</div>
	</body>
</html>


