body
{
	background-color: #2D2D31;
	color: white;
	font-family: "PT Sans", sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 16px;

	&.full-screen
	{
		overflow: hidden;
	}

	a
	{
		color: #94EBD9;
		text-decoration: none;

		&:hover
		{
			/*color: #67C7B3;*/
			color: #BAF5E9;
		}
	}

	.pure-button
	{
		background-color: #181818;
		border: 1px solid #0B7474;
		color: white;

		&.inline
		{
			 padding: 3px 9px;
			 margin: 0px 4px;
		}
	}

	.wrapper
	{
		max-width: 960px;
		margin: 0px auto;
	}

	.header, .contents, .subtext
	{
		padding: 18px;
	}

	.header
	{
		background-color: black;
		overflow: hidden;
		height: 42px;

		h1
		{
			margin: 0px;
			display: inline-block;
			font-size: 32px;

			a
			{
				text-decoration: inherit;
				color: inherit;
			}
		}

		.pure-button
		{
			background-color: #3C3C3C;
		}

		.button-upload
		{
			/*display: inline-block;
			margin-left: 32px;
			vertical-align: 5px;*/
			float: right;
		}

		.abuse
		{
			float: right;
			margin-right: 64px;
			margin-top: 10px;
		}
	}

	.contents
	{
		h2
		{
			margin-top: 0px;
		}

		#upload_activator
		{
			margin-bottom: 18px;
		}

		.latest
		{
			margin-top: 64px;

			a.document
			{
				display: inline-block;
				width: 150px;
				height: 218px;
				background-color: white;
				text-decoration: none;
				border: 0px;

				img
				{
					width: 150px;
				}
			}

			a.gallery-link
			{
				display: block;
				float: right;
				padding: 12px 64px;
			}
		}

		.upload-form
		{
			font-size: 18px;
			text-align: center;

			.button-browse
			{
				font-size: 24px;
				vertical-align: -1px;
				margin-right: 24px;
			}

			.faded
			{
				opacity: 0.4;
			}

			.info, .fileinfo, .progress
			{
				text-align: left;
				max-width: 700px;
				margin: 64px auto 0px auto;
			}

			.fileinfo
			{
				display: none;

				h2
				{
					margin: 0px 0px 16px 0px;
				}

				.button-submit
				{
					float: right;
					margin-top: 16px;
				}
			}

			.progress
			{
				display: none;
				margin-top: 32px;

				.wait
				{
					display: none;
				}
			}

			#upload_element
			{
				display: none;
			}

			.bar, .bar-inner
			{
				height: 12px;
			}

			.bar
			{
				border: 1px solid #0B7474;
				border-radius: 4px;
				overflow: hidden;
				margin-top: 8px;
			}

			.bar-inner
			{
				background-color: #014949;
				width: 0%;
				border-radius: 3px;
			}
		}
	}

	.viewer-contents
	{
		.embed_code
		{
			width: 280px;
			background-color: #1C1C1C;
			border: 1px solid black;
			border-radius: 4px;
			padding: 4px;
			color: #E1E1E1;
		}

		.viewer-wrapper
		{
			position: absolute;
			top: 78px;
			bottom: 0px;
			left: 0px;
			right: 320px;
			overflow: hidden;

			.viewer
			{
				width: 100%;
				height: 100%;
				border: 0px;
			}
		}

		.bottombar
		{
			display: none;
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 48px;
			padding: 8px;

			.header-wrapper
			{
				width: 99%;

				h2
				{
					display: block;
					margin: 0px 0px 3px 0px;
					font-size: 17px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.tools
			{
				font-size: 14px;

				.views
				{
					float: left;
					margin-top: 4px;
					font-weight: bold;
				}

				.embed
				{
					float: right;
					margin-right: 48px;
				}

				.download
				{
					float: right;
				}
			}
		}

		.sidebar
		{
			position: absolute;
			top: 78px;
			bottom: 0px;
			right: 0px;
			width: 320px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding: 16px;

			.embed_code
			{
				height: 100px;
			}

			h3
			{
				margin-bottom: 8px;
				margin-top: 28px;
			}

			p
			{
				margin: 8px 0px;
			}

			.toolbar-settings
			{
				margin: 8px 3px;

				input
				{
					 margin-right: 4px;
				}

				label
				{
					margin-right: 9px;
				}
			}
		}
	}

	.gallery
	{
		background-color: #242427;
		border: 1px solid black;

		.next, .previous
		{
			display: block;
			padding: 16px;
			font-size: 18px;
		}

		.next
		{
			float: right;
		}

		.previous
		{
			float: left;
		}

		.document
		{
			padding: 24px;
			border-bottom: 1px solid black;
			display: block;
			color: white;

			&:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}

			&:hover
			{
				background-color: #2a2a2e;
			}

			span
			{
				display: block;
			}

			span.thumb
			{
				width: 83px;
				height: 120px;
				float: left;
				background-color: white;
				margin-right: 16px;

				img
				{
					height: 120px;
				}
			}

			.name
			{
				font-weight: bold;
				font-size: 24px;
			}

			.date
			{
				font-size: 20px;
			}

			.views
			{
				font-size: 18px;
			}
		}
	}
}

.footer
{
	margin-top: 32px;
	padding-top: 12px;
	border-top: 1px solid #DEDEDE;
	font-size: 14px;
	color: #DEDEDE;
}

#drag_ghost
{
	display: none;
	position: absolute;
	z-index: 999;
	padding: 8px;
	background-color: #1D3030;
	border: 1px solid #0B7474;
	box-shadow: 3px 3px 8px 0px #131314;
	color: white;
	font-size: 19px;
	font-weight: bold;
	border-radius: 5px;
}

@media (max-width: 575px)
{
	.header .abuse
	{
		display: none;
	}
}

@media (max-width: 640px)
{
	.bottombar .embed
	{
		display: none;
	}
}

@media (max-width: 800px)
{
	.dragdrop-instructions
	{
		display: block;
	}
}

@media (max-width: 1200px)
{
	body
	{
		.viewer-contents
		{
			.sidebar
			{
				display: none;
			}

			.viewer-wrapper
			{
				right: 0px;
				bottom: 64px;
			}

			.bottombar
			{
				display: block;
			}
		}
	}
}

.clear
{
	clear: both;
}

.notice
{
	background-color: #0A8071;
	color: white;
	padding: 12px 14px;
	margin-bottom: 32px;
	border-radius: 4px;
	
	a
	{
		color: white;
	}
}